################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/studio2/v17
/.vs/studio2/FileContentIndex
/.vs
